/* SETS ENTIRE BODY TO A GRID, SETS POSITION OF EVERY ELEMENT */

body {
    font-family: 'Roboto', sans-serif;    height: 100vh;
    display: grid;
    grid-template-areas: 
        'header header header'
        'interests content hobbies'
        'cv content movies'
        'skills education movies'
        'footer footer footer';
    grid-template-columns: 1fr 3fr 1fr;
    gap: .5rem;
}

/* END OF BODY */

/* START OF HEADER */

header {
    grid-area: header;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    height: 6rem;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p {
    margin-left: 1rem;
}

.navbar li {
    display: inline-flex;
    margin: 1.5rem;
    font-size: 1.5rem;
}

/* END OF HEADER */

/* START OF INTERESTS */

.interests {
    grid-area: interests;
    background-color: rgba(255, 166, 0, 0.341);
    color: rgb(0, 97, 0);
    max-width: 18rem;
    max-height: 13rem;
    margin: 1rem 0.5rem;
}

.interests h2 {
    margin-bottom: 1rem;
}

.interests ul {
    padding: .8rem;
    list-style: none;
}

/* END OF INTERESTS */

/* START OF CV */

.cv {
    grid-area: cv;
    max-width: 18rem;
    background-color: rgb(249, 245, 245);
    margin: 0rem 0.5rem;
}

.cv ul {
    padding: .8rem;
    list-style: none;
    color: rgb(0, 97, 0);
}

/* END OF CV */

/* START OF SKILLS */
/* body {
    font-family: 'Roboto', sans-serif;    height: 100vh;
    display: grid;
    grid-template-areas: 
        'header header header'
        'interests content hobbies'
        'cv content movies'
        'skills education movies'
        'footer footer footer';
    grid-template-columns: 1fr 3fr 1fr;
    gap: .5rem;
} */

.skillsSection {
    background-color: rgb(249, 245, 245);
    max-width: 18rem;
    margin: 1rem 0.5rem;
    padding: .8rem 0;
}

.skillsSection .skills {
    background-color: white;
    width: 90%;
    margin: auto;
}

.skillsWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.skills h3 {
    text-align: center;
    background-color: green;
    color: white;
    padding: .5rem;
    font-weight: bolder;
}

.skills li {
    /* grid-column: 2/3; */
   
    list-style: none;
    padding: 1.3rem 0rem;
}

.skills img{
    margin: .8rem 0rem 0rem 1rem;
}

/* END OF SKILLS */



/* START OF INTRO */

.intro {
    display: flex;
    position: relative;
    margin-top: 2rem;
    grid-area: content;
    font-size: 1.3rem;

}

.intro img {
    width: 30rem;
    max-height: 25rem;
    float: right;
}

/* END OF INTRO */

/* START OF EDUCATION */

.education {
    grid-area: education;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.education h2 {
    margin-bottom: 1rem;
}



/* START OF HOBBIES */

.hobbiesSection {
    grid-area: hobbies;
    background-color: rgb(249, 245, 245);
    max-width: 18rem;
    margin: 1rem 0rem 1rem 2rem;
    padding: .8rem 0;
    max-height: 11rem;
}

.hobbiesSection .hobbies {
    background-color: white;
    width: 90%;
    margin: auto;
}

.hobbies h3 {
    text-align: center;
    background-color: green;
    color: white;
    padding: .5rem;
    font-weight: bolder;
}

.hobbies li {
    list-style: none;
    padding: 4%;   
}

/* END OF HOBBIES */

/* START OF MOVIES */

.movieSection {

    grid-area: movies;
    background-color: rgb(249, 245, 245);
    max-width: 18rem;
    margin: 1rem 0rem 1rem 2rem;
    padding: .8rem 0;
    max-height: 16rem;
}

.movieSection .movies {
    background-color: white;
    width: 90%;
    margin: auto;
}

.movies h3 {
    text-align: center;
    background-color: green;
    color: white;
    padding: .5rem;
    font-weight: bolder;
}

.movies li {
    list-style: none;
    padding: 4%;  
}

/* START OF FOOTER */

.footer {
    grid-area: footer;
    background-color: green;
    color: white;
    text-align: center;
    max-width: 18rem;
    margin-left: .5rem;
}

/*  END OF FOOTER */